:root {
    --background-color-light: rgb(164, 185, 194);
    --background-color-dark: rgb(28, 44, 58);
    --theme-button-color-light: rgb(233, 239, 247);
    --calculator-color-light: rgb(196, 218, 228);
    --calculator-color-dark: rgb(47, 50, 53);
    --calculator-border-light: rgba(212, 206, 206, 0.733);
    --calculator-border-dark: rgb(189, 136, 37);
    --calculator-shadow-light: rgba(151, 147, 147, 0.527);
    --calculator-shadow-dark: rgba(226, 178, 88, 0.76);
    --footer-color-light: rgba(151, 147, 147, 0.527);
    --footer-color-dark: rgb(10, 27, 41);
    --display-color-light: white;
    --display-color-dark: rgb(19, 34, 48);
    --display-text-color-light: rgb(110, 110, 110);
    --display-text-color-dark: rgb(243, 191, 21);
    --text-color-light: white;
    --text-color-dark: rgb(222, 222, 241);
    --button-color-light: rgb(172, 168, 172);
    --button-color-dark: rgb(73, 68, 57);
    --button-border-light: rgb(196, 194, 194);
    --button-border-dark: rgb(44, 40, 34);
    --border-color-white: rgba(212, 206, 206, 0.733);
}

html {
    box-sizing: border-box;
    font-family: monospace;
    font-size: 15px;
    color: var(--text-color-light);
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: var(--background-color-light);
}

body.dark {
    background: var(--background-color-dark);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}

/* .theme{
    width: 100px;
    height: 40px;
    border: 1px solid var(--border-color-white);
    background: var(--calculator-color-light);
    border-radius: 15px;
    display: flex;
    justify-content: flex-start;
} */

label {
    width: 100px;
    height: 40px;
    position: relative;
    display: block;
    background: var(--theme-button-color-light);
    border-radius: 20px;
    box-shadow: inset 0px 5px 15px var(--border-color-white), inset 0px -5px 15px var(--border-color-white);
    cursor: pointer;
}

label:after {
    content: "";
    width: 33px;
    height: 33px;
    position: absolute;
    top: 4px;
    left: 5px;
    background: var(--background-color-light);
    border-radius: 50px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.103);
}

input {
    width: 0;
    height: 0;
    display: none;
}

input:checked + label{
    background: var(--background-color-dark);
    box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.363), inset 0px -5px 15px rgba(0, 0, 0, 0.363);

}

input:checked + label:after{
    left: 94px;
    transform: translateX(-100%);
    background: rgb(62, 63, 104);
}

label, label:after {
    transition: 0.3s;
}

label:active:after {
    width: 60px;
}

label svg {
    position: absolute;
    height: 75%;
    z-index: 100;
}

svg.sun {
    left: 6px;
    top: 6px;
}

svg.moon {
    left: 63px;
    top: 6px;
}

svg.sun > * {
    fill: #fff;
    stroke: white;
}

svg.moon > * {
    fill: #fff;
    stroke: white;
}

.container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    border: 1px solid rgba(212, 206, 206, 0.733);
    box-shadow: 0 0 10px 5px var(--calculator-shadow-light);
    padding: 15px;
    width: 300px;
    min-height: 300px;
    background: var(--calculator-color-light);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.calculator.dark {
    box-shadow: 0 0 10px 5px var(--calculator-shadow-dark);
    background: var(--calculator-color-dark);
}

.display {
    padding: 5px;
    height: 30px;
    width: 100%;
    background: var(--display-color-light);
    color: var(--display-text-color-light);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    overflow: hidden;
}

.display.dark {
    background: var(--display-color-dark);
    color: var(--display-text-color-dark);
}

.buttons {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.row {
    flex: 1;
    display: flex;
    gap: 5px;
}

.button {
    flex: 1;
    font-size: 16px;
    font-family: monospace;
    font-weight: bold;
    border: 1px solid var(--button-border-light);
    color: var(--text-color-light);
    background: var(--button-color-light);
}

.button.dark {
    background: var(--button-color-dark);
    border: 1px solid var(--button-border-dark);
    color: var(--text-color-dark);
}

footer {
    text-align: center;
    background: var(--footer-color-light);
}

footer.dark {
    background: var(--footer-color-dark);
}